
/*Colors*/
:root {
  --color-primary: #FEDAB2;
  --color-secondary: #2F1D08;
  --color-tertiary: #ffb563; /*recently added 30 07*/
  --color-quaternary: #ffd5a6; /*decently added 30 07*/
  --color-primary-button: #ffa047;
  --color-span: #FEDAC9; /*span*/
  --color-link1: #FE2712; /*link*/
  --color-link2: #E57C03; /*link visited*/
  --color-link3: #F7D4E3; /*active link*/
  --black: #000;
  --white: #FFF;
  --gray: #CFCFCF;
  --font-weight4: 400;
  --font-weight7: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Courgette, Merienda' , sans-serif; /* sans-serif is a back-up in case for some reason the browser cannot display Lato*/
  font-weight: var(--font-weight4);
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  color: var(--color-secondary);
  margin-left: 20px;
  font-size: 30px;
  font-weight: var(--font-weight7);
}

h2 {
  color: var(--color-secondary);
  margin-left: 20px;
  font-size: 24px;
  font-weight: var(--font-weight7);
}

h3 {
  color: var(--color-secondary);
  margin-left: 20px;
  font-size: 18px;
  font-weight: var(--font-weight7);
}

span {
  background-color: var(--color-span);
}

a:link {
  color: var(--primary-color);
  text-decoration: none;
  -webkit-transition: all 0.2s linear, 0.2s background-color, 0.4s font-size;
  -o-transition: all 0.2s linear, 0.2s background-color, 0.4s font-size;
  transition: all 0.2s linear, 0.2s background-color, 0.4s font-size;
}

a:visited {
  color: var(--color-link1); /* Visited link! */
  text-decoration: underline;
}

a:hover, a:focus {
  color:  var(--color-link2);
  text-decoration: underline;
}

a:active {
  color: var(--color-link3); /* Selected link! */
  text-decoration: underline;
}

.button, button {
  border: none; /* resets the border & overwrites browser defaults */
  display: inline-block;
  font-family: inherit; /* inherits the font from ouside the container */
  background-color: var(--color-primary-button); /* background colour styling */
  color: var(--gray); /* font colour of button */
  text-decoration: none; /* text decoration such as underline of the button */
  padding: 4px; /* adds spacing to button */
  border-radius: 3px; /* to be discussed later in the course, ADD DETAILS HERE */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* gives button bottom border with 2px width and colour in RGBA format */
  -webkit-transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
  -o-transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
  transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer; /* hand when hovering over with cursor */
  opacity: 0.7; /* reduces opacity by 70% */
  font-size: 16px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  list-style-type: none;
}

/*recent changes 30 07*/
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  float: right;
}
/*recently added 30 07*/
.navigation-list a {
  display: block;
  color: var(--black);
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

.navigation-list a:hover {
  background-color: var(--color-quaternary);
  opacity: 0.7;
  font-size: 17px;
  -webkit-transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
  -o-transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
  transition: 0.5s opacity, 0.5s background-color, 0.4s font-size;
}

/*recent changes 30 07*/
.navigation-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-tertiary);
}
.navigation-list__item {
  text-align: center;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
  padding: 6px;
}

.profile__photo {
  float: left;
  width: 100%;
  height: auto;
  max-height: 550px;
  max-width: 500px;
  border-radius: 50%;
}

.profile {
  max-width: 800px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-footer {
  font-weight: var(--font-weight4);
  margin: 15px;
  padding: 15px;
}
/*recent change 30 07*/

/*.social-media {
  display: inline-block;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
 .github-logo,
.linkedin-logo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__logo {
  height: 190px;
  width: 210px;
  padding: 1px;
  border-radius: 1px;
}

.copyright_summary {
  cursor: pointer; /* Hand when hovering over with cursor */
}

.contact-form {
  font-size: 130%;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  margin: 0 auto;
  clear: both;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-list__item {  /* Grid fallback (older browsers) */
  display: inline-block;
  width: 33%;
}

.work-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  text-align: left;
}

.work-list__item {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffe5c7;
  width:auto;
}

.work-list__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/* "all" in this case represents screen print and speech */
@media all and (max-width: 500px) {
  .work-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/* If screen equal/bigger than 500, equal/smaller than 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
  /* changes 3-column grid to 2-column grid*/
  .work-list {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /* Shared code*/
  .work-list {
    grid-gap: 10px;
  }
  .work-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  20% {
    fill: #ebc149;
  }
  40% {
    fill: #fcffad;
  }
  60% {
    fill: #f0f571;
  }
  80 {
    fill: #ff6512;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  20% {
    fill: #ebc149;
  }
  40% {
    fill: #fcffad;
  }
  60% {
    fill: #f0f571;
  }
  80 {
    fill: #ff6512;
  }
  100% {
    fill: #f76414;
  }
}

/*
The below line can be also written as:
.sun {
animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}*/
.sun {
  -webkit-animation: 12s color-change infinite alternate linear;
          animation: 12s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px); /* the value 0 requires no ´px´ after it*/
  }
  to {
    -webkit-transform: translate(150px, 35px);
            transform: translate(150px, 35px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 35px);
            transform: translate(0, 35px); /* the value 0 requires no ´px´ after it*/
  }
  to {
    -webkit-transform: translate(150px, 35px);
            transform: translate(150px, 35px);
  }
}

/*
As above, the same goes for the below:
.cloud-front {
animation-duration: 30s;
animation-name: cloud-move;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}
*/
.cloud-front {
  -webkit-animation: 24s cloud-move infinite alternate linear;
          animation: 24s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 45px);
            transform: translate(450px, 45px);
  }
  to {
    -webkit-transform: translate(110px, 45px);
            transform: translate(110px, 45px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(450px, 45px);
            transform: translate(450px, 45px);
  }
  to {
    -webkit-transform: translate(110px, 45px);
            transform: translate(110px, 45px);
  }
}

.cloud-back {
  -webkit-animation: 28s cloud-move-reverse infinite alternate linear;
          animation: 28s cloud-move-reverse infinite alternate linear;
}
